---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- Add your content here -->
  <!-- <img src="{{ site.url }}/assets/img/logos/main.png" /> -->
<p align="center" width="100%"><img src="{{ site.url }}/assets/img/logos/banner.png" /></p>
Сайт создан участниками популярной многопользовательской онлайн-игры World Of Warcraft для людей интересующихся игровым классом "Охотник на демонов" и 
его специализациями. Здесь собраны наиболее эффективные наборы талантов, для различных ПвЕ аспектов игры, актуальные изменения класса и его механик, так же вы
 найдете руководства по использованию <a href="{{ site.url }}/guide/general/raidbots.html">RaidBots</a>, советы по грамотному разбору <a href="{{ site.url }}/guide/general/warcraftlogs.html">WarcraftLogs</a>, раздел посвященный аддону <a href="{{ site.url }}/guide/general/weakauras.html">WeakAura</a> и созданию своих WA для более 
 комфортного игрового процесса.
</br>
 
<h2> Истребление</h2>

<div class="container-class">
  <div class="guide-boss-card" style="margin: 0;">

    <div>
    <svg preserveAspectRatio="xMidYMax meet" viewBox="0 0 1600 200" class="svg-separator sep4" style="display:block">
    <polygon points="886,86 800,172 714,86 -4,86 -4,204 1604,204 1604,86 " style="fill:#191919;"></polygon>
    <polygon points="800,172 886,86 900,86 800,186 700,86 714,86 " style="opacity:1;fill:#d49a29"></polygon>
    <polygon points="800,162 876,86 888,86 800,174 712,86 724,86 " style="opacity:1;fill:#795a1e"></polygon>
    </svg>
    
    </div>

  <div class="class_bg">
    <div class="col1r">
      <div class="flex-1 image">
        <picture>
          <a href="{{ site.url }}/guide/havoc/changes-patch.html">
        <img src="{{ site.url }}/assets/img/dhhavoc.png" loading="lazy"></a></picture></div>
    </div>
    <div class="col1l">

      <div id="smooth-nav-outer">
<a href="{{ site.url }}/guide/havoc/changes-patch.html"><img src="https://wow.zamimg.com/images/wow/icons/medium/inv_misc_spyglass_02.jpg"> Изменения в патче 9.2</a>
<a href="{{ site.url }}/guide/havoc/overview.html"><img src="https://wow.zamimg.com/images/wow/icons/medium/inv_misc_spyglass_02.jpg"> Обзор</a>
<a href="{{ site.url }}/guide/havoc/best-covenant-shadowlands.html"><img src="https://wow.zamimg.com/images/wow/icons/medium/achievement_mythicdungeons_shadowlands.jpg"> Лучший ковенант</a>
<a href="{{ site.url }}/guide/havoc/gear.html"><img src="https://wow.zamimg.com/images/wow/icons/medium/inv_chest_chain_03.jpg"><span style="color: white;"> Бис лист</span></a>
<a href="{{ site.url }}/guide/havoc/talent-builds.html"><img src="https://wow.zamimg.com/images/wow/icons/medium/ability_marksmanship.jpg"> Таланты и Билды</a>
      </div>

    </div>
  </div>

  <div class="roate-divider">
    <div>
    
    <svg preserveAspectRatio="xMidYMax meet" viewBox="0 0 1600 200" class="svg-separator sep4" style="display:block">
    <polygon points="886,86 800,172 714,86 -4,86 -4,204 1604,204 1604,86 " style="fill:#191919;"></polygon>
    <polygon points="800,172 886,86 900,86 800,186 700,86 714,86 " style="opacity:1;fill:#d49a29"></polygon>
    <polygon points="800,162 876,86 888,86 800,174 712,86 724,86 " style="opacity:1;fill:#795a1e"></polygon>
    </svg></div></div></div>

</div>

<h2>Месть</h2>

<div class="container-class">
  <div class="guide-boss-card" style="margin: 0;">

    <div>
    <svg preserveAspectRatio="xMidYMax meet" viewBox="0 0 1600 200" class="svg-separator sep4" style="display:block">
    <polygon points="886,86 800,172 714,86 -4,86 -4,204 1604,204 1604,86 " style="fill:#191919;"></polygon>
    <polygon points="800,172 886,86 900,86 800,186 700,86 714,86 " style="opacity:1;fill:#d49a29"></polygon>
    <polygon points="800,162 876,86 888,86 800,174 712,86 724,86 " style="opacity:1;fill:#795a1e"></polygon>
    </svg>
    
    </div>

  <div class="class_bg">
    <div class="col1r">
      <div class="flex-1 image">
        <picture>
          <img src="{{ site.url }}/assets/img/logos/spec_logo.jpg"></a>
<a href="/guide/vengeance/changes-patch.html">
<img src="{{ site.url }}/assets/img/logos/spec_logo_VDH.jpg"></a> </picture></div>
    </div>
    <div class="col1l">

      <div id="smooth-nav-outer">
<a href="{{ site.url }}/guide/havoc/changes-patch.html"><img src="https://wow.zamimg.com/images/wow/icons/medium/inv_misc_spyglass_02.jpg"> Изменения в патче 9.2</a>
<a href="{{ site.url }}/guide/havoc/overview.html"><img src="https://wow.zamimg.com/images/wow/icons/medium/inv_misc_spyglass_02.jpg"> Обзор</a>
<a href="{{ site.url }}/guide/havoc/best-covenant-shadowlands.html"><img src="https://wow.zamimg.com/images/wow/icons/medium/achievement_mythicdungeons_shadowlands.jpg"> Лучший ковенант</a>
<a href="{{ site.url }}/guide/havoc/gear.html"><img src="https://wow.zamimg.com/images/wow/icons/medium/inv_chest_chain_03.jpg"><span style="color: white;"> Бис лист</span></a>
<a href="{{ site.url }}/guide/havoc/talent-builds.html"><img src="https://wow.zamimg.com/images/wow/icons/medium/ability_marksmanship.jpg"> Таланты и Билды</a>
      </div>

    </div>
  </div>

  <div class="roate-divider">
    <div>
    
    <svg preserveAspectRatio="xMidYMax meet" viewBox="0 0 1600 200" class="svg-separator sep4" style="display:block">
    <polygon points="886,86 800,172 714,86 -4,86 -4,204 1604,204 1604,86 " style="fill:#191919;"></polygon>
    <polygon points="800,172 886,86 900,86 800,186 700,86 714,86 " style="opacity:1;fill:#d49a29"></polygon>
    <polygon points="800,162 876,86 888,86 800,174 712,86 724,86 " style="opacity:1;fill:#795a1e"></polygon>
    </svg></div></div></div>

</div>



<div id="speclogo">
<a href="{{ site.url }}/guide/havoc/changes-patch.html">
<img src="{{ site.url }}/assets/img/logos/spec_logo.jpg"></a>
<a href="/guide/vengeance/changes-patch.html">
<img src="{{ site.url }}/assets/img/logos/spec_logo_VDH.jpg"></a> 
</div>



  <!-- Stop adding your content here -->

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Блог" }}</h2>
    <ul class="post-list">
	<div id="card-body">
      <!-- adjusting the number of posts per page happens in _config.yml 'paginate: ' -->
      {%- for post in paginator.posts -%}
        {%- unless post.categories contains "guide" or post.categories contains "raids" or post.categories contains "dungeons" -%}
        <li>
          {%- assign months = "января|февраля|марта|апреля|мая|июня|июля|августа|сентября|октября|ноября|декабря" | split: "|" -%}
          {%- assign m = post.date | date: "%-m" | minus: 1 -%}
          {%- assign day = post.date | date: "%-d" -%}
          {%- assign month = months[m] -%}
          {%- assign year = post.date | date: "%Y" -%}
          <span class="post-meta">{{ day }} {{ month }}, {{ year }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt | truncatewords:30 }}
          {%- endif -%}
            <a class="post-read" href="{{ post.url | relative_url }}">
              Читать далее 
            </a>
        </li>
        {%- endunless -%}
      {%- endfor -%}
    </ul></div>

    <!-- Pagination links -->
    {%- if paginator.total_pages > 1 -%}
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>&nbsp;-&nbsp;
        {% else %}
          <!--<span class="previous">Previous&nbsp;-&nbsp;</span>-->
        {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
          &nbsp;-&nbsp;<a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
          <!--<span class="next ">&nbsp;-&nbsp;Next</span>-->
        {% endif %}
      </div>
    {%- endif -%}

  {%- endif -%}

</div>
