---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- Add your content here -->
  <!-- <img src="{{ site.url }}/assets/img/logos/main.png" /> -->
<p align="center" width="100%"><img src="{{ site.url }}/assets/img/logos/banner.png" /></p>
Сайт создан участниками популярной многопользовательской онлайн-игры World Of Warcraft для людей интересующихся игровым классом "Охотник на демонов" и 
его специализациями. Здесь собраны наиболее эффективные наборы талантов, для различных ПвЕ аспектов игры, актуальные изменения класса и его механик, так же вы
 найдете руководства по использованию <a href="{{ site.url }}/guide/general/raidbots.html">RaidBots</a>, советы по грамотному разбору <a href="{{ site.url }}/guide/general/warcraftlogs.html">WarcraftLogs</a>, раздел посвященный аддону <a href="{{ site.url }}/guide/general/weakauras.html">WeakAura</a> и созданию своих WA для более 
 комфортного игрового процесса.

   <div id="speclogo">
<a href="{{ site.url }}/guide/havoc/quick_faq.html">
<img src="{{ site.url }}/assets/img/logos/spec_logo.jpg"></a>
<a href="/guide/vengeance/quick_faq.html">
<img src="{{ site.url }}/assets/img/logos/spec_logo_VDH.jpg"></a> 
</div>



  <!-- Stop adding your content here -->

  <!-- --<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">8.1 Update!</h4>
    <p></p>
    <p class="mb-0">All written content should be updated for 8.1. Please notify us if things seem out of place, don't work or aren't updated. If you're looking for 8.0 information, we're sorry, these are gone for good. Greet our new Overlords {{ site.data.talent.er }} and {{ site.data.talent.sk }}. </p>
  </div><!-- -->

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Блог" }}</h2>
    <ul class="post-list">
	<div id="card-body">
      <!-- adjusting the number of posts per page happens in _config.yml 'paginate: ' -->
      {%- for post in paginator.posts -%}
        {%- unless post.categories contains "guide" or post.categories contains "raids" or post.categories contains "dungeons" -%}
        <li>
          {%- assign months = "января|февраля|марта|апреля|мая|июня|июля|августа|сентября|октября|ноября|декабря" | split: "|" -%}
          {%- assign m = post.date | date: "%-m" | minus: 1 -%}
          {%- assign day = post.date | date: "%-d" -%}
          {%- assign month = months[m] -%}
          {%- assign year = post.date | date: "%Y" -%}
          <span class="post-meta">{{ day }} {{ month }}, {{ year }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt | truncatewords:30 }}
          {%- endif -%}
            <a class="post-read" href="{{ post.url | relative_url }}">
              Читать далее 
            </a>
        </li>
        {%- endunless -%}
      {%- endfor -%}
    </ul></div>

    <!-- Pagination links -->
    {%- if paginator.total_pages > 1 -%}
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>&nbsp;-&nbsp;
        {% else %}
          <!--<span class="previous">Previous&nbsp;-&nbsp;</span>-->
        {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
          &nbsp;-&nbsp;<a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
          <!--<span class="next ">&nbsp;-&nbsp;Next</span>-->
        {% endif %}
      </div>
    {%- endif -%}

  {%- endif -%}

</div>
