<table class="table table-bordered table-light talents-table">
	<tbody>
  
	<tr class="rotation_switches">
	  <th scope="row">15</th> 
	  <td class="rotation_switch talent-active">
			<a href="https://ru.wowhead.com/spell=203550" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_bosskilrogg_deadeye.jpg&quot;);"></ins><del></del></span>
				<span>Слепая ярость</span></a>
	  </td>
	  <td class="rotation_switch">
			<a href="https://ru.wowhead.com/spell=206478" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/bility_creature_poison_01_purple.jpg&quot;);"></ins><del></del></span>
				<span>Демонический аппетит</span></a>
	  </td>
	  <td class="rotation_switch">
			<a href="https://ru.wowhead.com/spell=232893" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_demonhunter_felblade.jpg&quot;);"></ins><del></del></span>
				<span>Клинок Скверны</span></a>
	  </td>
	</tr>
  
	<tr class="rotation_switches">
	  <th scope="row">25</th>
	  <td class="rotation_switch talent-active">
			<a href="https://ru.wowhead.com/spell=258876" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_rogue_hungerforblood.jpg&quot;);"></ins><del></del></span>
				<span>Неутолимый голод</span></a>
	  </td>
	  <td class="rotation_switch">
			 <a href="https://ru.wowhead.com/spell=320374" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_demonhunter_immolation.jpg&quot;);"></ins><del></del></span>
				<span>Пылающая ненависть</span></a>
	  </td>
	  <td class="rotation_switch">
			<a href="https://ru.wowhead.com/spell=203555" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/inv_weapon_shortblade_92.jpg&quot;);"></ins><del></del></span>
				<span>Демонические клинки</span></a>
	  </td>
	</tr>
  
	<tr class="rotation_switches">
	  <th scope="row">30</th>
	  <td class="rotation_switch">
			<a href="https://ru.wowhead.com/spell=258881" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_demonhunter_bladedance.jpg&quot;);"></ins><del></del></span>
				<span>Остатки разрушений</span></a>
	  </td>
	  <td class="rotation_switch talent-active">
			<a href="https://ru.wowhead.com/spell=347461" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/artifactability_vengeancedemonhunter_painbringer.jpg&quot;);"></ins><del></del></span>
				<span>Необузданный хаос</span></a>
	  </td>
	  <td class="rotation_switch">
			 <a href="https://ru.wowhead.com/spell=342817" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/inv_glaive_1h_artifactazgalor_d_06dual.jpg&quot;);"></ins><del></del></span>
				<span>Буря клинков</span></a>
	  </td>
	</tr>
  
	<tr class="rotation_switches">
	  <th scope="row">35</th>
	  <td class="rotation_switch">
			<a href="https://ru.wowhead.com/spell=204909" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_demonhunter_soulcleave2.jpg&quot;);"></ins><del></del></span>
				<span>Раздирание души</span></a>
	  </td>
	  <td class="rotation_switch">
			<a href="https://ru.wowhead.com/spell=205411" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/spell_shadow_manafeed.jpg&quot;);"></ins><del></del></span>
				<span>Инстинкт самосохранения</span></a>
	  </td>
	  <td class="rotation_switch talent-active">
			<a href="https://ru.wowhead.com/spell=196555" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/spell_warlock_demonsoul.jpg&quot;);"></ins><del></del></span>
				<span>Путь Пустоты</span></a>
	  </td>
	</tr>
  
	<tr class="rotation_switches">
	  <th scope="row">40</th>
	  <td class="rotation_switch talent-active">
			<a href="https://ru.wowhead.com/spell=258887" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_ironmaidens_whirlofblood.jpg&quot;);"></ins><del></del></span>
				<span>Цикл ненависти</span></a>
	  </td>
	  <td class="rotation_switch">
			 <a href="https://ru.wowhead.com/spell=206416" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_deathwing_bloodcorruption_death.jpg&quot;);"></ins><del></del></span>
				<span>Первая кровь</span></a>
	  </td>
	  <td class="rotation_switch">
			 <a href="https://ru.wowhead.com/spell=258860" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/spell_shadow_ritualofsacrifice.jpg&quot;);"></ins><del></del></span>
				<span>Разрыв сущности</span></a>
	  </td>
	</tr>
	<tr class="rotation_switches">
	  <th scope="row">45</th>
	  <td class="rotation_switch">
			 <a href="https://ru.wowhead.com/spell=206477" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_demonhunter_chaosnova.jpg&quot;);"></ins><del></del></span>
				<span>Освобожденная сила</span></a>
	  </td>
	  <td class="rotation_switch talent-active" >
			 <a href="https://ru.wowhead.com/spell=203556" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/inv_glaive_1h_demonhunter_a_01.jpg&quot;);"></ins><del></del></span>
				<span>Мастер боевого клинка</span></a>
	  </td>
	  <td class="rotation_switch">
			 <a href="https://ru.wowhead.com/spell=211881" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_bossfellord_felspike.jpg&quot;);"></ins><del></del></span>
				<span>Извержение Скверны</span></a>
	  </td>
	</tr>
  
	<tr class="rotation_switches">
	  <th scope="row">50</th>
	  <td class="rotation_switch talent-active">
			 <a href="https://ru.wowhead.com/spell=213410" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/spell_shadow_demonform.jpg&quot;);"></ins><del></del></span>
				<span>Демонизм</span></a>
	  </td>
	  <td class="rotation_switch">
			 <a href="https://ru.wowhead.com/spell=206476" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_foundryraid_demolition.jpg&quot;);"></ins><del></del></span>
				<span>Импульс</span></a>
		</td>
	  <td class="rotation_switch">
			 <a href="https://ru.wowhead.com/spell=258925" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/inv_felbarrage.jpg&quot;);"></ins><del></del></span>
				<span>Обстрел Скверны</span></a>
	  </td>
	</tr>
	</tbody>
  </table>