<div class="talentcalc" style="min-height: 470px; display: block;" data-left-sidebar="false" data-right-sidebar="false" data-selected="no">
<div class="talentcalc-wrapper" style="" data-selected="no">
<div class="talentcalc-main" data-selected="no" data-class="demonhunter">
<div class="talentcalc-header-class">
<a class="c12">Таланты Охотника на Демонов</a></div>
<div class="talentcalc-spec-switcher">Специализация: <span class="q1"><span class="tooltip-inside-icon" style="background-image: url(https://wow.zamimg.com/images/wow/icons/small/ability_demonhunter_specdps.jpg)"></span> Истребление <span class="talentcalc-spec-role" style="background-position: 0px 0"></span></span>
</div>                             
<div class="talentcalc-spec-desc" data-spec="3">Мрачный мастер боевых клинков и разрушительной магии Скверны. Оружие: боевые клинки, мечи, топоры, кистевое.</div>  
  
<table class="talentcalc-core" data-selected="no">
	<tbody data-selected="no">
<tr data-row="0" class="talentcalc-row" data-selected="yes" data-available="yes">
<td class="outer" data-selected="no">

<div class="inner">15</div>
</td>

<td class="outer" data-row="0" data-col="1" cursor="pointer" data-selected="yes">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=203550" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/ability_bosskilrogg_deadeye.jpg)"></ins><del></del>
<div class="state">✗</div></div>
<table>
<tbody>
<tr>
<td>Слепая ярость</td>
</tr>
</tbody>
</table >
</div>
</td>

<td class="outer" data-row="0" data-col="0" cursor="pointer" data-selected="no">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=206478" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/ability_creature_poison_01_purple.jpg)"></ins><del></del>
<div class="state active">✓</div></div>
<table>
<tbody>
<tr>
<td>Демонический аппетит</td>
</tr>
</tbody>
</table>
</div>
</td>

<td class="outer last-child" data-row="0" data-col="2" cursor="pointer" data-selected="no">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=232893" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/ability_demonhunter_felblade.jpg)"></ins><del></del>
<div class="state">✗</div></div>
<table>
<tbody>
<tr>
<td>Клинок Скверны</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>

<tr data-row="1" class="talentcalc-row" data-selected="yes" data-available="yes">
<td class="outer" data-selected="no">
<div class="inner">25</div>
</td>

<td class="outer" data-row="1" data-col="0" cursor="pointer" data-selected="yes">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=258876" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/ability_rogue_hungerforblood.jpg)"></ins><del></del>
<div class="state">✗</div></div>
<table>
<tbody>
<tr>
<td>Неутолимый голод</td>
</tr>
</tbody>
</table>
</div>
</td>

<td class="outer" data-row="1" data-col="1" cursor="pointer" data-selected="no">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=320374" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/ability_demonhunter_immolation.jpg)"></ins><del></del>
<div class="state active">✓</div></div>
<table>
<tbody>
<tr>
<td>Пылающая ненависть</td>
</tr>
</tbody>
</table>
</div>
</td>

<td class="outer last-child" data-row="1" data-col="2" cursor="pointer" data-selected="no">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=203555" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/inv_weapon_shortblade_92.jpg)"></ins><del></del>
<div class="state">✗</div></div>
<table>
<tbody>
<tr>
<td>Демонические клинки</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>

<tr data-row="2" class="talentcalc-row" data-selected="yes" data-available="yes">
<td class="outer" data-selected="no">
<div class="inner">30</div>
</td>

<td class="outer" data-row="2" data-col="1" cursor="pointer" data-selected="no">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=258881" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/ability_demonhunter_bladedance.jpg)"></ins><del></del>
<div class="state">✗</div></div>
<table>
<tbody>
<tr>
<td>Остатки разрушений</td>
</tr>
</tbody>
</table>
</div>
</td>

<td class="outer" data-row="2" data-col="0" cursor="pointer" data-selected="yes">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=347461" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/artifactability_vengeancedemonhunter_painbringer.jpg)"></ins><del></del>
<div class="state active">✓</div></div>
<table>
<tbody>
<tr>
<td>Необузданный хаос</td>
</tr>
</tbody>
</table>
</div>
</td>

<td class="outer last-child" data-row="2" data-col="2" cursor="pointer" data-selected="no">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=342817" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/inv_glaive_1h_artifactazgalor_d_06dual.jpg)"></ins><del></del>
<div class="state">✗</div></div>
<table>
<tbody>
<tr>
<td>Шквал клинков</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>

<tr data-row="3" class="talentcalc-row" data-selected="yes" data-available="yes">
<td class="outer" data-selected="no">
<div class="inner">35</div>
</td>

<td class="outer" data-row="3" data-col="1" cursor="pointer" data-selected="no">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=204909" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/ability_demonhunter_soulcleave2.jpg)"></ins><del></del>
<div class="state">✗</div></div>
<table>
<tbody>
<tr>
<td>Раздирание души</td>
</tr>
</tbody>
</table>
</div>
</td>

<td class="outer" data-row="3" data-col="1" cursor="pointer" data-selected="no">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=205411" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/spell_shadow_manafeed.jpg)"></ins><del></del>
<div class="state">✗</div></div>
<table>
<tbody>
<tr>
<td>Инстинкт самосохранения</td>
</tr>
</tbody>
</table>
</div>
</td>

<td class="outer last-child" data-row="3" data-col="2" cursor="pointer" data-selected="yes">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=196555" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/spell_warlock_demonsoul.jpg)"></ins><del></del>
<div class="state">✗</div></div>
<table>
<tbody>
<tr>
<td>Путь Пустоты</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>

<tr data-row="4" class="talentcalc-row" data-selected="yes" data-available="yes">
<td class="outer" data-selected="no">
<div class="inner">40</div>
</td>

<td class="outer" data-row="4" data-col="0" cursor="pointer" data-selected="yes">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=258887" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/ability_ironmaidens_whirlofblood.jpg)"></ins><del></del>
<div class="state">✗</div></div>
<table>
<tbody>
<tr>
<td>Цикл ненависти</td>
</tr>
</tbody>
</table>
</div>
</td>

<td class="outer" data-row="4" data-col="1" cursor="pointer" data-selected="no">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=206416" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/ability_deathwing_bloodcorruption_death.jpg)"></ins><del></del>
<div class="state active">✓</div></div>
<table>
<tbody>
<tr>
<td>Первая кровь</td>
</tr>
</tbody>
</table>
</div>
</td>

<td class="outer last-child" data-row="4" data-col="2" cursor="pointer" data-selected="no">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=258860" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/spell_shadow_ritualofsacrifice.jpg)"></ins><del></del>
<div class="state">✗</div></div>
<table>
<tbody>
<tr>
<td>Разрыв сущности</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>

<tr data-row="5" class="talentcalc-row" data-selected="yes" data-available="yes"><td class="outer" data-selected="no">
<div class="inner">45</div>
</td>

<td class="outer" data-row="5" data-col="1" cursor="pointer" data-selected="no">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=206477" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/ability_demonhunter_chaosnova.jpg)"></ins><del></del>
<div class="state">✗</div></div>
<table>
<tbody>
<tr>
<td>Освобожденная сила</td>
</tr>
</tbody>
</table>
</div>
</td>

<td class="outer" data-row="5" data-col="1" cursor="pointer" data-selected="no">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=203556" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/inv_glaive_1h_demonhunter_a_01.jpg)"></ins><del></del>
<div class="state">✗</div></div>
<table>
<tbody>
<tr>
<td>Мастер боевого клинка</td>
</tr>
</tbody>
</table>
</div>
</td>

<td class="outer last-child" data-row="5" data-col="2" cursor="pointer" data-selected="yes">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=211881" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/ability_bossfellord_felspike.jpg)"></ins><del></del>
<div class="state">✗</div></div>
<table>
<tbody>
<tr>
<td>Извержение Скверны</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>

<tr data-row="6" class="talentcalc-row" data-selected="yes" data-available="yes">
<td class="outer" data-selected="no">
<div class="inner">50</div>
</td>

<td class="outer" data-row="6" data-col="0" cursor="pointer" data-selected="yes">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=213410" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/spell_shadow_demonform.jpg)"></ins><del></del>
<div class="state active">✓</div></div>
<table>
<tbody>
<tr>
<td>Демонизм</td>
</tr>
</tbody>
</table>
</div>
</td>

<td class="outer" data-row="6" data-col="1" cursor="pointer" data-selected="no">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=206476" onclick="return false;"></a>
<div class="iconmedium"><ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/ability_foundryraid_demolition.jpg)"></ins><del></del>
</a><div class="state">✗</div></div>
<table>
<tbody>
<tr>
<td>Импульс</td>
</tr>
</tbody>
</table>
</div>
</td>

<td class="outer last-child" data-row="6" data-col="2" cursor="pointer" data-selected="no">
<div class="inner">
<a class="screen" target="_blank" data-whattach="icon" href="https://ru.wowhead.com/spell=258925" onclick="return false;"></a>
<div class="iconmedium">
<ins style="background-image: url(https://wow.zamimg.com/images/wow/icons/medium/inv_felbarrage.jpg)"></ins><del></del>
<div class="state">✗</div></div>
<table>
<tbody>
<tr>
<td>Обстрел Скверны</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>    
</div>
</div>
</div>    