<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">


    <div class="footer-col-wrapper row">
      <!-- <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div> -->

      <div class="footer-col footer-col-1">
        
		<a href="https://discord.gg/434y7Nh" target="blank"><img src="{{ '/assets/img/logos/discord.png' | relative_url }}"  style="vertical-align: text-top; padding-right: 0.7rem;"/></a>
		<a href="https://discord.gg/434y7Nh" target="blank"><img src="{{ '/assets/img/logos/youtube.png' | relative_url }}"  style="vertical-align: text-top;"/></a>
      </div>

      <div class="footer-col footer-col-2">
        {%- if site.patreon_name -%}<p style="text-align: right; margin-right: -12px;"><a href="https://www.patreon.com/{{ site.patreon_name }}" target="blank"><img src="{{ '/assets/img/logos/patreon.png' | relative_url }}" alt="Patreon button logo" style="vertical-align: text-top;"/></a></p>{%- endif -%}
      
      </div>
    </div>
  <p style="text-align:right; margin-left: 50px; padding-left:30px;"><a href="/patreon/thanks.html">Авторы и благодарности</a>.</p>
		 <p style="text-align: right;">{{- site.description | escape -}}</p>
  </div>

  <script src="https://wow.zamimg.com/js/global/WH/Icon.js?3"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
  <script src="/script/route.js"></script>


<script>

	    $(window).click(function() {
        $(".collapse").collapse("hide");
    });

    $(document).on("click", ".dropdown-menu", function (e) {
        e.stopPropagation();
    });

    function onResize() {
        // make it as accordion for smaller screens
        if ($(window).width() < 992) {
            $(".dropdown-menu a").click(function(e){
                //e.preventDefault();
                if($(this).next(".submenu").length){
                    e.preventDefault();
                    $(this).next(".submenu").toggle();
                }
                $(".dropdown").on("hide.bs.dropdown", function () {
                    $(this).find(".submenu").hide();
                })
            });

             $(".navbar-collapse").on("show.bs.collapse", function () {
                 $("body").css("overflow", "hidden");
                 $("header").css("overflow", "auto");
                 //$("header").css("height", "100%");
             });

             $(".navbar-collapse").on("hide.bs.collapse", function () {
                 $("body").css("overflow", "auto");
                 $("header").css("overflow", "");
                 //$("header").css("height", "60px");
             });

        } else {
            $(".navbar-nav > .nav-item > a.nav-link").click(function(e){
                window.location = $(this).attr("href");
            });
        }
        
        // if ($(window).width() < 576) {

        //     $("header.sticky-top").removeClass("sticky-top");
        //     $("header.site-header").addClass("smart-scroll");
        //     $("body").css("padding-top", $(".navbar").outerHeight() + "px");

        //     // detect scroll top or down
        //     if ($(".smart-scroll").length > 0) { // check if element exists
        //         var last_scroll_top = 0;
        //         $(window).on("scroll", function() {
        //             scroll_top = $(this).scrollTop();
        //             if(scroll_top < last_scroll_top) {
        //                 $(".smart-scroll").removeClass("scrolled-down").addClass("scrolled-up");
        //             }
        //             else {
        //                 if (last_scroll_top > 60) {
        //                     $(".smart-scroll").removeClass("scrolled-up").addClass("scrolled-down");
        //                 }
        //             }
        //             last_scroll_top = scroll_top;
        //         });
        //     }
        // } else {
        //     if(!$("header.site-header").hasClass("sticky-top")) {
        //         $("header.site-header").removeClass("smart-scroll");
        //         $("header.site-header").removeClass("scrolled-down");
        //         $("header.site-header").removeClass("scrolled-up");
        //         $("header.site-header").addClass("sticky-top");
        //         $("body").css("padding-top", 0);
        //     }
        // }
    }

    var waitForFinalEvent = (function () {
        var timers = {};
        return function (callback, ms, uniqueId) {
            if (!uniqueId) {
                uniqueId = "Don't call this twice without a uniqueId";
            }
            if (timers[uniqueId]) {
                clearTimeout (timers[uniqueId]);
            }
            timers[uniqueId] = setTimeout(callback, ms);
        };
    })();

    onResize();

    $(window).resize(function() {
        waitForFinalEvent(function() {
            onResize();
        });
    });

     $(function() {
         var index = 0;
         $("pre > code").each(function() {
             index++;
             $(this).attr("id", "code" + index);
             $(this).append($('<button type="button" class="btn btn-outline-light copy-btn"\
                 data-toggle="tooltip" data-placement="bottom" title="Скопировать" data-clipboard-target="#code'+index+'">\
                 <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-post-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\
                 <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7 2l.5-2.5 3 3L10 5a1 1 0 0 1-1-1zM4.5 3a.5.5 0 0 0 0 1H7a.5.5 0 0 0 0-1H4.5zm0 3a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5h-7z"/>\
                 </svg></button>'));
         });
     });

    var clipboard = new ClipboardJS('.copy-btn');


    function setTooltip(btn, message) {
        $(btn).tooltip('hide')
            .attr('data-original-title', message)
            .tooltip('show');
    }

    function hideTooltip(btn) {
        setTimeout(function() {
            $(btn).tooltip('hide');
        }, 1000);
    }


    clipboard.on('success', function(e) {
        e.clearSelection();
        setTooltip(e.trigger, 'Скопировано!');
        hideTooltip(e.trigger);
    });

    clipboard.on('error', function(e) {
        setTooltip(e.trigger, 'Ошибка!');
        hideTooltip(e.trigger);
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip({ boundary: 'window' });
    });

  </script>
	
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(75069502, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/75069502" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
	
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Black Templ",
  "url" : "https://black-temple.ru/",
  "sameAs" : [
    "https://twitter.com/DhLonely",
  ]
}
</script>	

</footer>
