<table class="table table-bordered table-light talents-table">
	<tbody>
  
	<tr class="rotation_switches">
	  <th scope="row">15</th> 
	  <td class="rotation_switch">
			<a href="https://ru.wowhead.com/spell=207550" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/spell_warlock_summonabyssal.jpg&quot;);"></ins><del></del></span>
				<span>Удар Бездны</span></a>
	  </td>
	  <td class="rotation_switch talent-active">
			<a href="https://ru.wowhead.com/spell=207548" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/achievment_raid_houroftwilight.jpg&quot;);"></ins><del></del></span>
				<span>Пламенная боль</span></a>
	  </td>
	  <td class="rotation_switch">
			<a href="https://ru.wowhead.com/spell=232893" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_demonhunter_felblade.jpg&quot;);"></ins><del></del></span>
				<span>Клинок Скверны</span></a>
	  </td>
	</tr>
  
	<tr class="rotation_switches">
	  <th scope="row">25</th>
	  <td class="rotation_switch">
			<a href="https://ru.wowhead.com/spell=207697" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/spell_shadow_soulleech.jpg&quot;);"></ins><del></del></span>
				<span>Пиршество душ</span></a>
	  </td>
	  <td class="rotation_switch talent-active">
			 <a href="https://ru.wowhead.com/spell=227174" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/spell_volatilefiregreen.jpg&quot;);"></ins><del></del></span>
				<span>Жаркий выброс</span></a>
	  </td>
	  <td class="rotation_switch">
			<a href="https://ru.wowhead.com/spell=207739" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/spell_fire_elementaldevastation.jpg&quot;);"></ins><del></del></span>
				<span>Сожжение заживо</span></a>
	  </td>
	</tr>
  
	<tr class="rotation_switches">
	  <th scope="row">30</th>
	  <td class="rotation_switch">
			<a href="https://ru.wowhead.com/spell=320331" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_demonhunter_immolation.jpg&quot;);"></ins><del></del></span>
				<span>Инфернальная броня</span></a>
	  </td>
	  <td class="rotation_switch">
			<a href="https://ru.wowhead.com/spell=336639" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_warlock_backdraft.jpg&quot;);"></ins><del></del></span>
				<span>Обугленная плоть</span></a>
	  </td>
	  <td class="rotation_switch talent-active">
			 <a href="https://ru.wowhead.com/spell=247454" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/inv_icon_shadowcouncilorb_purple.jpg&quot;);"></ins><del></del></span>
				<span>Взрывная душа</span></a>
	  </td>
	</tr>
  
	<tr class="rotation_switches">
	  <th scope="row">35</th>
	  <td class="rotation_switch">
			<a href="https://ru.wowhead.com/spell=204909" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_demonhunter_soulcleave2.jpg&quot;);"></ins><del></del></span>
				<span>Раздирание души</span></a>
	  </td>
	  <td class="rotation_switch">
			<a href="https://ru.wowhead.com/spell=218612" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/spell_warlock_demonicempowerment.jpg&quot;);"></ins><del></del></span>
				<span>Кормление демона</span></a>
	  </td>
	  <td class="rotation_switch talent-active">
			<a href="https://ru.wowhead.com/spell=263642" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_creature_felsunder.jpg&quot;);"></ins><del></del></span>
				<span>Разлом</span></a>
	  </td>
	</tr>
  
	<tr class="rotation_switches">
	  <th scope="row">40</th>
	  <td class="rotation_switch">
			<a href="https://ru.wowhead.com/spell=207666" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_ironmaidens_whirlofblood.jpg&quot;);"></ins><del></del></span>
				<span>Средоточие печатей</span></a>
	  </td>
	  <td class="rotation_switch talent-active">
			 <a href="https://ru.wowhead.com/spell=209281" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_bossfelorcs_necromancer_red.jpg&quot;);"></ins><del></del></span>
				<span>Ускоренные печати</span></a>
	  </td>
	  <td class="rotation_switch">
			 <a href="https://ru.wowhead.com/spell=202138" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_demonhunter_concentratedsigils.jpg&quot;);"></ins><del></del></span>
				<span>Печать цепей</span></a>
	  </td>
	</tr>
	<tr class="rotation_switches">
	  <th scope="row">45</th>
	  <td class="rotation_switch">
			 <a href="https://ru.wowhead.com/spell=268175" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/spell_shadow_demonicempathy.jpg&quot;);"></ins><del></del></span>
				<span>Страж Бездны</span></a>
	  </td>
	  <td class="rotation_switch talent-active" >
			 <a href="https://ru.wowhead.com/spell=321453" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/spell_shadow_demonform.jpg&quot;);"></ins><del></del></span>
				<span>Демонизм</span></a>
	  </td>
	  <td class="rotation_switch">
			 <a href="https://ru.wowhead.com/spell=263648" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/inv_soulbarrier.jpg&quot;);"></ins><del></del></span>
				<span>Призрачный барьер</span></a>
	  </td>
	</tr>
  
	<tr class="rotation_switches">
	  <th scope="row">50</th>
	  <td class="rotation_switch talent-active">
			 <a href="https://ru.wowhead.com/spell=209258" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/inv_glaive_1h_artifactaldorchi_d_06.jpg&quot;);"></ins><del></del></span>
				<span>Последнее прибежище</span></a>
	  </td>
	  <td class="rotation_switch">
			 <a href="https://ru.wowhead.com/spell=326853" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/ability_demonhunter_feldevastation.jpg&quot;);"></ins><del></del></span>
				<span>Разрушительный бастион</span></a>
		</td>
	  <td class="rotation_switch">
			 <a href="https://ru.wowhead.com/spell=320341" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link" data-wh-icon-added="true" onclick="return false;"><span class="iconmedium"><ins style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/medium/spell_shadow_shadesofdarkness.jpg&quot;);"></ins><del></del></span>
				<span>Массовое извлечение</span></a>
	  </td>
	</tr>
	</tbody>
  </table>